body{
    margin:0px;
    background-image: url(images/world-map.png);
    background-size: cover;
}

a{
    text-decoration: none;
    color: rgba(253, 247, 231, 0.822);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

.navigation{
    margin:auto;
    padding: 15px;
    border-radius: 10px;
}

.navigation:hover {
    cursor: pointer;
    color: black;
    background-color: rgb(145,196,195 );
}

.navigation-bar{
    display:flex;
    justify-content: space-between;
    height: 70px;
    margin: 0;
}


.left-column{
    display: flex;
    width: 20%;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

}

.right-column{
    background-color: rgb(128, 161, 186);
    border-radius: 10px;
    width: 40%;
    margin-right: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.container{
    border: red;
    border-style: solid;
    border-width: 5px;
    
}

#content{
    display: flex;
}

button:active{
    background-color: red;
}
.world-map{
    width: 100%;
    height: 100%;
}

.wrapper{
    display:flex;
    flex-direction: row;
    width: 30%;
    margin-left:10px;
    margin-top: 10px;
}

.side-nav-bar{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 20%;
    height: 60vh;
    background-color: rgb(128, 161, 186);
}

.main-content-area{
    height: 87vh;
    width: 50%;
    margin-left: 20px;
}

.side-content-area{
    flex-grow: 1;
    padding:10px;
}

.side-panel-toggle{
    display:none;
    width: 40px;
    height: 40px;
    flex-shrink: 0;
    place-items: center;

    color:rgba(8, 89, 165, 0.5);
    background-color:rgb(128, 161, 186) ;
    border: none;
    border-radius: 0 5px 5px 0;
    outline: none;
    cursor: pointer;
}

.side-panel-toggle:hover{
    background-color: rgb(145,196,195 );
    color: black;
}


.side-content-area{
    display:none;
    width: 200px;
    flex-shrink: 0;
    padding: 10px;
    color: white ;
    background-color:rgb(128, 161, 186) ;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.35);
}

.side-panel-open .side-content-area{
    display: initial; 
}

.side-panel-open .side-panel-toggle{
    display: initial;
}

